

.Textos {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

 .Textos:focus {
        border-bottom: 2px solid #78788c
}
